### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import os 
import pandas as pd

# File to Load (Remember to Change These)
csv_path = "Resources/purchase_data.csv"
#cwd = os.getcwd()
#cwd

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(csv_path)

purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [5]:
players_count =len(purchase_df["SN"].unique())
players_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#Number of Unique Items
items_df = len(purchase_df["Item ID"].unique())
items_df

179

In [14]:
# Average Purchase Price
average_price_df = purchase_df["Price"].mean()
average_price_df

3.050987179487176

In [16]:
# Total Number of Purchases
total_purch_df = purchase_df["Purchase ID"].count()
total_purch_df

780

In [19]:
# Total Revenue
total_revenue = purchase_df["Price"].sum()
total_revenue

2379.77

In [39]:
# Create a summary data frame

purchase_summary_df = pd.DataFrame({
    "Unique Items": [items_df],
    "Purchase Price": [average_price_df],
    "Number of Purchases": [total_purch_df],
    "Total Revenue": [total_revenue]
})


purchase_summary_df

   Unique Items  Purchase Price  Number of Purchases  Total Revenue
0           179        3.050987                  780        2379.77

In [36]:
purchase_summary_df.dtypes

Unique Items             int64
Purchase Price         float64
Number of Purchases      int64
Total Revenue          float64
dtype: object

In [40]:
# cleaning the outputs of the dataframe

purchase_summary_df = purchase_summary_df.round(2)
purchase_summary_df["Total Revenue"] = purchase_summary_df["Total Revenue"].map("${:,}".format)
purchase_summary_df["Purchase Price"] = purchase_summary_df["Purchase Price"].map("${:,}".format)
purchase_summary_df

   Unique Items Purchase Price  Number of Purchases Total Revenue
0           179          $3.05                  780     $2,379.77

In [27]:
purchase_summary_df.dtypes

Unique Items             int64
Purchase Price         float64
Number of Purchases      int64
Total Revenue           object
dtype: object

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [ ]:
# Average of Male and female Players and non disclosed
average_gender_df = purchase_df["Gender"].value_counts(normalize=True) *100
average_gender_df

In [ ]:
# Count by gender
purchase_df["Gender"].value_counts()


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [48]:
# Purchase Count by gender 
gender_count_df = purchase_df["Gender"].value_counts()
gender_count_df

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [42]:
# Extract the following columns
gender_type_df = purchase_df[["Gender", "Price"]]

gender_type_df.head()

  Gender  Price
0   Male   3.53
1   Male   1.56
2   Male   4.88
3   Male   3.27
4   Male   1.44

In [43]:
# Average purchase price by gender

gender_group_df = gender_type_df.groupby(["Gender"])

gender_comparison_df = gender_group_df.mean()
gender_comparison_df.head()

                          Price
Gender
Female                 3.203009
Male                   3.017853
Other / Non-Disclosed  3.346000

In [44]:
# Total purchase value by gender
gender_group_df = gender_type_df.groupby(["Gender"])

gender_comparison_df = gender_group_df.sum()
gender_comparison_df.head()

                         Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19

In [ ]:
# Average Purchase Total per Person by Gender NEED HELP HERE

gender_group_df = gender_type_df.groupby(["Gender", "Price"])


## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [49]:
# Figure out the minimum and maximum views
print(purchase_df["Age"].max())
print(purchase_df["Age"].min())

45
7

In [ ]:
age_demographic_df = pd.DataFrame({
    "Unique Items": [items_df],
    "Purchase Price": [average_price_df],
    "Number of Purchases": [total_purch_df],
    "Total Revenue": [total_revenue]

In [56]:
# Bins for ages of 4 years

bins = ["0", "10", "13.9", "17.9", "21.9", "25.9", "29.9", "33.9", "37.9", "41.9", "43.9", "47.9"]

# Names of bins

age_groups = ["6 to 10", "10 to 14", "14 to 18", "18 to 22", "22 to 26", "26 to 30", "30 to 34", "34 to 38", "38 to 42", "42 to 46", "46 to 50"]

In [55]:
# # Place data into bins

# ages_df["ages_range"] = pd.cut(purchase_df["Age"], bins, labels=age_groups)

# ages_df["ages_range"]

NameError: name 'ages_df' is not defined

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame